<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  
  <body>
  
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand">Dream Bean</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/welcome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" >Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/checkout" >Checkout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/"  >Sign Out</a>
        </li>
      </ul>
    </nav>
  
    <div class="container-fluid">
      <div class="row">
  
        <div class="col-4" style="padding-top: 5px;">
          <div>
  
            <div class="card bg-light" style="width: 400px; height: 150px;">
              <div class="card-body text-center">
                <h2 class="card-title">Quick Search</h2>
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-success" type="submit">Search</button>
                </form>
              </div>
            </div>
  
            <div class="card bg-light" style="width: 400px; height: 400px;">
              <div class="card-body">
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action">All</a>
                  <a href="#" class="list-group-item list-group-item-action">Meat</a>
                  <a href="#" class="list-group-item list-group-item-action">Seafood</a>
                  <a href="#" class="list-group-item list-group-item-action">Bakery</a>
                  <a href="#" class="list-group-item list-group-item-action">Dairy</a>
                  <a href="#" class="list-group-item list-group-item-action">Fruits and Vegetables</a>
                </div>
              </div>
            </div>
  
          </div>
        </div>
  
        <div class="col-8" style="padding-top: 5px;">
          <div class="card-columns">
  
            <div class="card bg-light">
              <img class="card-img-top" src="/assets/Bakery/Cake.jpg" alt="Card image" style="height:150px">
              <div class="card-body text-center">
                <h4 class="card-title text-center">Cake</h4>
                <button type="button" class="btn btn-success" style="margin-right: 16px;">Buy It</button>
                <button type="button" class="btn btn-info" style="margin-left: 16px;">Info</button>
              </div>
            </div>
  
            <div class="card bg-light">
              <img class="card-img-top" src="/assets/Bakery/Bread.jpg" alt="Card image" style="height:150px">
              <div class="card-body text-center">
                <h4 class="card-title">Bread</h4>
                  <button type="button" class="btn btn-success" style="margin-right: 16px;">Buy It</button>
                  <button type="button" class="btn btn-info" style="margin-left: 16px;">Info</button>             
              </div>
            </div>
  
            <div class="card bg-light">
              <img class="card-img-top" src="/assets/Bakery/Donuts.jpg" alt="Card image" style="height:150px">
              <div class="card-body text-center">
                <h4 class="card-title">Donuts</h4>
                <button type="button" class="btn btn-success" style="margin-right: 16px;">Buy It</button>
                <button type="button" class="btn btn-info" style="margin-left: 16px;">Info</button> 
              </div>
            </div>
  
            <div class="card bg-light">
              <img class="card-img-top" src="/assets/Bakery/CinnamonRolls.jpg" alt="Card image" style="height:150px">
              <div class="card-body text-center">
                <h4 class="card-title">Cinnamon Rolls</h4>
                <button type="button" class="btn btn-success" style="margin-right: 16px;">Buy It</button>
                <button type="button" class="btn btn-info" style="margin-left: 16px;">Info</button> 
              </div>
            </div>
  
            <div class="card bg-light">
              <img class="card-img-top" src="/assets/Bakery/Cookies.jpg" alt="Card image" style="height:150px">
              <div class="card-body  text-center">
                <h4 class="card-title">Cookies</h4>
                <button type="button" class="btn btn-success" style="margin-right: 16px;">Buy It</button>
                <button type="button" class="btn btn-info" style="margin-left: 16px;">Info</button> 
              </div>
            </div>
  
            <div class="card bg-light">
              <img class="card-img-top" src="/assets/Bakery/Muffins.jpg" alt="Card image" style="height:150px">
              <div class="card-body  text-center">
                <h4 class="card-title">Muffins</h4>
                <button type="button" class="btn btn-success" style="margin-right: 16px;">Buy It</button>
                <button type="button" class="btn btn-info" style="margin-left: 16px;">Info</button> 
              </div>
            </div>
  

            
          </div>
        </div>
  
      </div>
    </div>
  
    <div class="footer">
      <p>@Harsha.Lulla</p>
    </div>
  </body>
  